html {
  scroll-behavior: smooth;
  padding: 0;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

.header {
  height: 700px;
  background-color: #293747;
  position: relative;
  background: linear-gradient(
      to top,
      rgba(41, 55, 71, 0.975),
      rgba(41, 55, 71, 0.875)
    ),
    url(background.jpg);
  background-size: cover;
}

.profile-image {
  border-radius: 100%;
  height: 250px;
  width: 250px;
  margin: auto;
  position: absolute;
  top: 32%;
  left: 0;
  right: 0;
  z-index: 1;
}

.shapes-container {
  height: 250px;
  width: 400px;
  position: absolute;
  margin: auto;
  top: 15%;
  left: 0;
  right: 0;
}

.orange-shape {
  width: 300px;
  height: 400px;
  transform: skew(-30deg);
  background-color: #d55c47;
  display: inline-block;
}

.grey-shape {
  width: 300px;
  height: 400px;
  transform: skew(-30deg);
  background-color: #4b5062;
  display: inline-block;
  margin: -50px -150px;
}

.heading-container {
  position: absolute;
  top: 10%;
  left: 8%;
  color: white;
  z-index: 1;
}

.heading-1 {
  font-weight: 600;
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
}

.role {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
}

.social-links-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.social-link {
  margin: auto;
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 1.3rem;
  color: white;
}

.social-link i {
  margin-right: 10px;
}

.resume-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  grid-auto-rows: minmax(100px, auto);
  padding: 100px;
}

.section-header {
  position: relative;
  height: 100px;
}

.section-header .header-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 80px;
  transform: skew(-30deg);
  background-color: #d55c47;
  z-index: 1;
}

.section-header .full-divider {
  background: linear-gradient(to right, #fff 45%, #d55c47 55%);
  width: 100%;
  border: 0;
  height: 1px;
  position: absolute;
  top: 40%;
}

.small-divider {
  border: 1px solid #d55c47;
  margin-top: 20px;
  width: 25%;
  display: inline-block;
}

.section-header h2 {
  position: absolute;
  top: 20%;
  left: 15px;
  margin: 0;
  z-index: 2;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

.about-section {
  grid-column: 1/4;
  grid-row: 1;
}

.work-experience-section,
.education-section,
.projects-section {
  grid-column: 1/3;
}

.skills-section,
.awards-section,
.certifications-section,
.languages-section {
  grid-column: 3/3;
}

.resume-details {
  margin-top: 10px;
  margin-bottom: 10px;
}

.resume-details .timeline {
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 18px;
  letter-spacing: 0.2rem;
}

.resume-details .timeline i {
  margin-right: 8px;
}

.resume-details .title {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

.resume-details .description {
  display: flex;
  justify-items: center;
  align-items: center;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  line-height: 1.8;
}

.resume-details .skill-list {
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  line-height: 1.8;
}

.certification-link {
  display: flex;
  justify-items: center;
  align-items: center;
  text-decoration: none;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
}

.project-link {
  display: flex;
  justify-items: center;
  align-items: center;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  line-height: 1.8;
  text-decoration: none;
}

.certification-link:hover,
.project-link:hover {
  color: #d55c47;
}
